# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Container

on:
  release:
    types:
      - published

jobs:
  container:
    name: container
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Set output
        id: vars
        run: echo ::set-output name=VERSION::$(echo ${{ github.event.release.tag_name }} | sed "s/v//")

      - name: Docker build
        run: |
          cd docker
          docker build -t skywalking-php --build-arg ${{ steps.vars.outputs.VERSION }} .
          docker tag skywalking-php ghcr.io/apache/skywalking-php:latest
          docker tag skywalking-php ghcr.io/apache/skywalking-php:${{ steps.vars.outputs.VERSION }}
